<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body align="center">
<div>{{.title}} 检测报告</div>
<div >
	<div>
		<p>信息概况</p>
		{{.info}}
	</div>
	<div>
		<p>漏洞概况</p>
		{{.allData}}
	</div>
</div>

</body>
</html>